@charset "UTF-8";

@media screen and (min-width: 768px) /*and (max-width: 992px)*/ {
    body {
        background-image: linear-gradient(to top, #DADAF4 40%, #DBEAF3);
    }

    #login {
        width: 768px;
        height: 400px;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100vh;
    }

    section#login > div#formulario {
       margin-left: 235px;
       display: block;
       position: relative;
       top: 50%;
       transform: translateY(-50%);
    }

    #formulario > h1 {
        font-size: 1.8em;
    }

    #formulario > p {
        font-size: 1em;
    }

}